li {
  list-style-type: none;
}

h2, h3 {
  font-family: 'Ultra', serif;
}

.App {
  position: relative;
}

.Parallax, .Frame {
  position: absolute;
}

.Parallax {
  top: 0;
}

.Frame {
  top: 100vh;
}